[submodule "firmware"]
	path = parts
	url = https://github.com/d-rowe/open-sandbot-firmware.git
[submodule "parts"]
	path = parts
	url = https://github.com/d-rowe/open-sandbot-parts.git
[submodule "server"]
	path = server
	url = https://github.com/d-rowe/open-sandbot-server.git
[submodule "website"]
	path = website
	url = https://github.com/d-rowe/open-sandbot-website.git
[submodule "parts"]
	path = parts
	url = https://github.com/d-rowe/open-sandbot-parts.git
